.cards {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 250px);
  }
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.newCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 350px;
  width: 250px;
}

.newCard > h1 {
  font-size: 150px;
  color: white;
  align-self: flex-end;
}
