.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 350px;
  width: 250px;
}

.editCardBtn {
  border: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  transform: translate(-75%, -50%);
  right: 0;
  position: absolute;
}

.editCardBtn > img {
  max-width: 15px;
  max-height: 15px;
}

.cardDeleteBtn {
  border-radius: 100%;
  border: transparent;
  font-size: 20px;
  min-width: 25px;
  min-height: 25px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}
