.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 350px;
  width: 250px;
}

.presentational-card > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 194px;
  max-height: 242px;
  opacity: 1;
}

.edit-card-btn {
  border: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  transform: translate(-75%, -50%);
  right: 0;
  position: absolute;
}

.edit-card-btn > img {
  max-width: 15px;
  max-height: 15px;
}

.card-delete-btn {
  border-radius: 100%;
  border: transparent;
  font-size: 20px;
  min-width: 25px;
  min-height: 25px;
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.presentational-card .book-author {
  text-align: center;
  font-size: 14px;
  color: white;
}

.presentational-card .book-name {
  text-align: center;
  font-size: 20px;
  color: white;
}

.editable-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.editable-card h1 {
  text-align: center;
  font-size: 20px;
  color: white;
}

.editable-card input[type="text"] {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.save-btn {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top: 2rem;
}
