.App {
  margin: 0;
  font-family: georgia, garamond, sans-serif;
  background: linear-gradient(90deg, #7f7fd5 0%, #86a8e7 35%, #91eae4 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
